body{
  background-color: rgba(239, 127, 127, 0.4);
}

div{
  text-align: center;
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(217, 88, 88, 0.8);
  font-family: Georgia, serif;
  text-transform: capitalize;
}

h1{
    text-decoration: underline;
}

img{
    border-radius: 8px;
}
